<template>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 rounded-0 px-5 py-5">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                        <label class="form-label">Waga (kg)</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="mass"
                            placeholder="kg"
                            required="required"
                            min="1"
                            step="1"
                        />
                        <div
                            class="invalid-feedback"
                            v-bind:class="{
                                'd-block': validation.mass,
                            }"
                        >
                            {{ validation.mass }}
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Wzrost (cm)</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="height"
                            placeholder="cm"
                            required="required"
                            min="1"
                            step="1"
                        />
                        <div
                            class="invalid-feedback"
                            v-bind:class="{
                                'd-block': validation.height,
                            }"
                        >
                            {{ validation.height }}
                        </div>
                    </div>
                    <div class="col-12">
                        <button
                            class="btn btn-info w-100"
                            @click.prevent="calculateBmi"
                            v-bind:class="{ disabled: submitted }"
                        >
                            OBLICZ
                        </button>
                    </div>
                </form>
            </div>
            <div class="card border-0 rounded-0 px-5 py-5 mt-3" v-if="result">
                <div class="success-data">
                    <div class="text-center d-flex flex-column">
                        <i class="bx bxs-badge-check"></i>
                        <span class="text-center fs-3"
                            >BMI wynosi: <b>{{ bmi }}</b
                            ><br />{{ result }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    name: "BmiCalculator",
    data() {
        return {
            submitted: false,
            mass: "",
            height: "",
            result: "",
            validation: {
                mass: "",
                height: "",
            },
        };
    },
    methods: {
        valid() {
            var isValid = true;
            this.validation.mass = "";
            this.validation.height = "";

            if (this.mass === "") {
                isValid = false;
                this.validation.mass = "Pole nie może być puste";
                return isValid;
            }
            if (this.height === "") {
                isValid = false;
                this.validation.height = "Pole nie może być puste";
                return isValid;
            }
            if (Math.sign(this.mass) !== 1) {
                isValid = false;
                this.validation.mass = "Podana wartość musi być dodatnia";
                return isValid;
            }
            if (Math.sign(this.height) !== 1) {
                isValid = false;
                this.validation.height = "Podana wartość musi być dodatnia";
                return isValid;
            }
            return isValid;
        },
        calculateBmi() {
            this.submitted = true;

            if (this.valid()) {
                console.log(123);
                this.bmi = +(
                    this.mass / Math.pow(this.height / 100, 2)
                ).toFixed(1);
                if (this.bmi < 16) {
                    this.result = "Wygłodzenie";
                } else if (this.bmi >= 16 && this.bmi < 16.99) {
                    this.result = "Wychudzenie";
                } else if (this.bmi >= 17 && this.bmi < 18.49) {
                    this.result = "Niedowaga";
                } else if (this.bmi >= 18.5 && this.bmi < 24.99) {
                    this.result = "Pożądana masa ciała";
                } else if (this.bmi >= 25 && this.bmi < 29.99) {
                    this.result = "Nadwaga";
                } else if (this.bmi >= 30 && this.bmi < 34.99) {
                    this.result = "Otyłośc I stopnia";
                } else if (this.bmi >= 35 && this.bmi < 39.99) {
                    this.result = "Otyłośc II stopnia";
                } else if (this.bmi >= 40) {
                    this.result = "Otyłośc III stopnia";
                }
            }
            this.submitted = false;
        },
    },
};
</script>

<style>
.card {
    color: #444;
    background-color: #f6f6f6;
}
</style>
